footer {
	padding: 20px 10px;
	color: #ffffff;
}
footer a {
	color: #ffffff;
}

footer a:focus, a:hover {
	color: #96c93f;
}

button, .btn, .btn-default {
	color: #ffffff;
	background-color: #0678bc;
	text-transform: capitalize;
}

.highlight-row {
	background-color: #E4EBED;
}

.hero {
	margin: auto;
	display: block;
	max-width:100%;
}

.light-text {
	color: #5aa1b0;
}

footer .small-text {
    font-size: 7pt;
}

.logo-header img{
	margin: auto;
  display: block;
  max-width:100%;
}
/** CUSTOMIZED NAVBAR STYLES **/

.navbar {
    margin-bottom: 0px;
}
.navbar-default {
  background-color: #0678bc;
  border-color: #0678bc;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #96c93f;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #96c93f;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0678bc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #96c93f;
  background-color: #0678bc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0678bc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #96c93f;
  background-color: #0678bc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #96c93f;
  background-color: #0678bc;
}
.navbar-default .navbar-toggle {
  border-color: #0678bc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0678bc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #96c93f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #96c93f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #96c93f;
    background-color: #0678bc;
  }
}