<div class="container">
  <h1 class="text-center">Understanding Fuel Economy Labels</h1>
  <p class="text-center lead">Tap each number to find out more</p>
  <p class="text-center text-success">{{epaLabelText}}</p>
  <img class="img-responsive center-block" src="images/epa-label.png" alt="" usemap="#mapEpaLabels">
  <map id="mapEpaLabels" name="mapEpaLabels">
    <area shape="rect" coords="44,0,101,52"  data-ng-click="epaLabelText = 'Official EPA fuel economy estimates. The Combined City/Highway estimate is the most prominent to allow quick and easy comparison to other vehicles. '">
    <area shape="rect" coords="446,4,504,60" data-ng-click="epaLabelText = 'This is an estimate of how much more (or less) this vehicle will cost to fuel over five years relative to the average new vehicle, based on the assumptions listed in the print at the bottom of the label.'">
    <area shape="rect" coords="47,443,107,496" data-ng-click="epaLabelText = 'The estimated annual fuel cost of the vehicle, based on the assumptions listed in the print at the bottom of the label.'">
    <area shape="rect" coords="232,431,295,481" data-ng-click="epaLabelText = 'A 1 to 10 rating based on fuel economy and greenhouse gas emissions, where a rating of 10 is best. The pointer shows where this vehicle is within the range.'">
    <area shape="rect" coords="444,458,512,509" data-ng-click="epaLabelText = 'Download a free bar code app to your smartphone and scan this QR Code® to get additional and customizable information about the vehicle. '">
  </map>
</div>
