<div class="container" >
	<h1>{{thisVehicle.makeModel}}</h1>
	<h2>Vehicle Info</h2>
	<dl>
	  <dt>Make</dt><dd>{{thisVehicle.make}}</dd>
	  <dt>Model</dt><dd>{{thisVehicle.model}}</dd>
	  <dt>Drivetrain</dt><dd>{{thisVehicle.drive}}</dd>
	  <dt>Vehicle Class</dt><dd>{{thisVehicle.VClass}}</dd>
	</dl>
	
	<h2>Fuel Efficiency / Emissions</h2>
	<dl>
	  <dt>Combined MPG</dt><dd>{{thisVehicle.comb08}}</dd>
	  <dt>City MPG</dt><dd>{{thisVehicle.city08}}</dd>
	  <dt>Tailpipe CO2 in grams/mile</dt><dd>{{thisVehicle.co2}}</dd>
	</dl>
</div>