<div class="container" >
  
  <div class="row highlight-row">
    <div class="col-xs-6">
      <img class="img-responsive" src="images/default-vehicle.png">
    </div>
    <div class="col-xs-6">
      <h3>{{thisVehicle.makeModel}}</h3>
      <dt>Transmission</dt><dd>{{thisVehicle.trany}}</dd>
      <dt>Drive:</dt><dd>{{thisVehicle.drive}}</dd>
      <dt>Fuel Usage:</dt><dd>{{thisVehicle.fuelType1}}</dd>
    </div>
  </div>

  <div class="row info-row fuel-economy-label">
    <h2 class="text-center">Miles Per Gallon (MPG)</h2>
    <div class="panel panel-info info-row col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
      <div class="panel-body">
		    <h5 class="text-center"><strong>Fuel Economy</strong></h5>
		    <div class="row">
		      <div class="col-xs-2"><img src="images/fuel-pump.png"></div>
		      <div class="col-xs-6">
		      <h1 class="margin-top-zero"><span class="mpgLabel">{{thisVehicle.comb08}}</span><sup class="mpgLabelSup">mpg</sup></h1>
		      <p class="text-nowrap">combined city/hwy</p>
		      </div>
		    </div>
		    <div class="row relative">
		      <div class="col-xs-offset-7 col-xs-2 absolute cityMpg"><h5><strong>{{thisVehicle.comb08}}</strong></h5>city</div>
		      <div class="col-xs-2 absolute hwyMpg"><h5><strong>{{thisVehicle.highway08}}</strong></h5>highway</div>
		    </div>
		  </div>
    </div>
	</div>
	<hr/>
  <div class="row info-row">
    <div class="col-xs-12">
      <h2 class="text-center">MPG COMPARISONS</h2>
	    <h6 class="text-center">City</h6>
	    <chartist class="ct-chart ct-double-octave" chartist-data="cityChartData" chartist-chart-type="Bar" chartist-events="chartEvents" chartist-chart-options="chartOptions"></chartist>
	    <h6 class="text-center">Highway</h6>
	    <chartist class="ct-chart ct-double-octave" chartist-data="hwyChartData" chartist-chart-type="Bar" chartist-events="chartEvents" chartist-chart-options="chartOptions"></chartist>
	    <h6 class="text-center">Combined</h6>
	    <chartist class="ct-chart ct-double-octave" chartist-data="combChartData" chartist-chart-type="Bar" chartist-events="chartEvents" chartist-chart-options="chartOptions"></chartist>
    </div>
	</div>
	
	<div class="row clearfix">
    <h2 class="text-center">GREENHOUSE GAS (GHG)</h2>
    <div class="panel panel-info col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
      <div class="panel-body">
        <h5 class="text-center">Greenhouse Gas Rating <span class="disabled">(tailpipe only)</span></h5>
        <div class="row">
          <div class="col-xs-12"><img class="img-responsive center-block" src="images/epaem{{thisVehicle.ghgScore}}.png"></div>
        </div>        
      </div>
    </div>    
  </div>
  <div class="row small-text text-center">Compares the tailpipe greenhouse gas emissions to those of other vehicles of the same model year on a scale of 1 (worst) to 10 (best)</div>
	<hr/>
	<div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">GHG COMPARISONS</h2>
      <chartist class="ct-chart ct-double-octave" chartist-data="ghgChartData" chartist-chart-type="Bar" chartist-events="chartEvents" chartist-chart-options="ghgChartOptions"></chartist>      
    </div>
  </div>
  <!-- TODO build out comparison carousel -->
</div>