<div class="container" data-ng-controller="VehicleIndexController">
	<div class="row">
	  <img width="100%" src="http://www.fueleconomy.gov/feg/images/home/hero/2016-guide-hero.jpg" />
	</div>
	<h4>Find and Compare Miles Per Gallon (MPG) and Greenhouse Gas (GHG) Ratings</h4>
	
	<h5>Search For A Vehicle</h5>
	<div class="col-md-12">
	 <form class="form">
	    <div class="form-group">
	      <label class="sr-only" for="carSearch">Search Vehicles</label>
	      <input type="text" class="form-control" id="carSearch" placeholder="Search Vehicles" data-ng-model="autoQuery">
	    </div>
	  </form>
	</div>
	
	<h4 data-ng-if="autoQuery.length > 0">Search Results</h4>
	<ul data-ng-if="autoQuery.length > 0" class="autos" >
	  <li data-ng-repeat="auto in ratings | filter: autoQuery | limitTo: 10 | orderBy: auto.model">          
	    <p><a data-ng-href="#/vehicles/{{auto.$id}}"><span>{{auto.makeModel}} {{auto.trany}}</span> {{auto.comb08}} mpg</a>
	    </p>
	  </li>
	</ul>
	<br/>
  
  <div data-ng-if="autoQuery == null || autoQuery.length <= 0" >
    <h5>Compare Ratings for up to Three Vehicles</h5>
	  <div class="row">
	    <div class="col-xs-6 form-group">
	      <select data-ng-model="compare.vehicleMake1" class="form-control" data-ng-options="make for make in vehicleMakes" data-ng-change="getModelOptions(1)">
	      <option value="">Make</option>
	      </select>
	    </div>
	    <div class="col-xs-6 form-group">
	      <select data-ng-model="compare.vehicleModel1" class="form-control" data-ng-options="auto.model + ' ' + auto.trany + ' ' +  auto.cylinders + 'cyl'  + ' ' +  auto.eng_dscr for auto in vehicleModels1">
	      <option value="">Model</option>
	      </select>
	    </div>
	  </div>  
	  <div class="row">
      <div class="col-xs-6 form-group">
        <select data-ng-model="compare.vehicleMake2" class="form-control" data-ng-options="make for make in vehicleMakes" data-ng-change="getModelOptions(2)">
        <option value="">Make</option>
        </select>
      </div>
      <div class="col-xs-6">
        <select data-ng-model="compare.vehicleModel2" class="form-control" data-ng-options="auto.model + ' ' + auto.trany + ' ' +  auto.cylinders + 'cyl'  + ' ' +  auto.eng_dscr for auto in vehicleModels2">
        <option value="">Model</option>
        </select>
      </div>
    </div> 
    <div class="row">
      <div class="col-xs-6">
        <select data-ng-model="compare.vehicleMake3" class="form-control" data-ng-options="make for make in vehicleMakes" data-ng-change="getModelOptions(3)">
        <option value="">Make</option>
        </select>
      </div>
      <div class="col-xs-6">
        <select data-ng-model="compare.vehicleModel3" class="form-control" data-ng-options="auto.model + ' ' + auto.trany + ' ' +  auto.cylinders + 'cyl'  + ' ' +  auto.eng_dscr for auto in vehicleModels3">
        <option value="">Model</option>
        </select>
      </div>
    </div> 
    
    <div class="row">
	    <div class="form-group">
	      <button class="btn btn-default col-xs-6 col-xs-offset-3" >Compare</button>
	    </div>
    </div>
	  
	  <br/>
		<div class="row well">
		  <h4 class="text-center">2016 Top Five Most Efficient Vehicles</h4>
		  <div class="col-md-6">
		    <img class="center-block" src="http://www.fueleconomy.gov/feg/photos/2015_Chevy_Spark_EV.jpg">
		    <img class="center-block" src="http://www.fueleconomy.gov/feg/photos/2015_VW_e-Golf.jpg">
			</div>
			<div class="col-md-6">
			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin et viverra justo commodo. Proin </p>
			 <a class="btn btn-default" href="#/vehicles">SEE ALL FIVE</a>
			</div>
		</div>
	</div>
	
</div>

